.app-container {
  color: #cfd6e1;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

main {
  flex: 1; /* This makes the main element grow and push the footer down */
}

/*used in BaseLaylout react component*/
.margin-for-cards {
  margin-left: 5px;
  margin-right: 5px;
}

/*used in OverviewAndFormLayout and ScreeningLayout react component*/
.bootstrap-container-component {
  width: 100%;
  margin: 0 auto;
}

/*####################################*/
.hidden-link {
  color: inherit;
  /*text-decoration: none;*/
  text-decoration: underline;
}

/*.hidden-link:hover {*/
/*  text-decoration: underline;*/
/*}*/

/*####################################*/
/*###     Admin Forms Styling      ###*/

ul.tight-list {
  padding-left: 0.75rem;
}

ul.tight-list li {
  line-height: 1.3;
}