/* Survey.module.css */

/* For alerts above the header in UmfrageForm and StimmabgabeForm */
.alertContainerStyle {
    min-height: 2.0rem;
    display: flex;
    gap: 0.5rem;
}

.alertStyle {
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    /*font-size: 0.85rem;*/
    line-height: 1.2;
}

/* left padding for header in auswahloption table within UmfrageForm */
.leftPadHeader {
    padding-left: 4px;
}

/* center align X button for column Action */
/*.centeredXButton {*/
/*    text-align: center;*/
/*}*/

/* small table styles for voting records */
.tableStyle {
    max-height: 720px;   /*~30 rows*/
    overflow-y: auto;

    font-size: 0.7rem;
}

.xButtonStyle {
    padding: 0 4px;
    line-height: 1;
    font-size: 0.7rem;
    min-width: 1.2rem;
}

/*###################################################*/

/* for SurveyCard */
/******************/

/* Anlass Title */
.umfrageAnlass {
    color: #FFD036;
}

/* Description Text */
.umfrageDescription {
    color: #cfd6e1;
}


/* --- Options Styling --- */
/* Base Card Style */
.optionCard {
    padding: 0.3rem 2.5rem;
    background-color: #1e1e1e;
    border: 1px solid #333;
    transition: all 0.2s ease-in-out;
    color: #cfd6e1;
    cursor: pointer; /* Makes the whole card clickable */
}

/* Hover state (only if not dimmed) */
.optionCard:hover:not(.optionCardDimmed) {
    background-color: #2a2a2a;
    border-color: #555;
}

/* Selected State */
.optionCardSelected {
    background-color: #252525;
    border-color: #FFD036 !important;
    box-shadow: 0 0 8px rgba(255, 193, 7, 0.15);
    opacity: 1;
    z-index: 1;
}

/* Dimmed State (Unselected items) */
.optionCardDimmed {
    opacity: 0.4;
    filter: grayscale(80%); /* Optional: makes it look even more inactive */
    transform: scale(0.99); /* Very subtle shrink */
}

/* Typography */
.optionLabel {
    font-weight: 600;
    font-size: 1.0rem;
    color: #FFD036;
    line-height: 1.2;
    margin-bottom: 0.25rem;
}

.optionDetails {
    color: #9ac7fa;
    line-height: 1.3;
}


/* --- Button --- */
.submitBtn {
    background-color: #FFD036;
    border: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.8rem;
    border-radius: 2px;
}

.submitBtn:hover:not(:disabled) {
    background-color: #e6bb30; /* Slightly darker gold on hover */
    color: #000;
}

.submitBtn:disabled {
    background-color: #444;
    color: #888;
}


/* for StimmabgabeForm */
/***********************/

/* Truncated Table Cells */
.truncatedCell {
    white-space: nowrap;      /* Prevent text from wrapping to next line */
    overflow: hidden;         /* Hide overflow content */
    text-overflow: ellipsis;  /* Add the '...' */
    max-width: 150px;         /* Trigger point: adjust this width as needed */
    vertical-align: middle;   /* Align with other cells */
}
