/* SurveyForms.module.css */

/* For alerts above the header in UmfrageForm and StimmabgabeForm */
.alertContainerStyle {
    min-height: 2.0rem;
    display: flex;
    gap: 0.5rem;
}

.alertStyle {
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    /*font-size: 0.85rem;*/
    line-height: 1.2;
}

/* left padding for header in auswahloption table within UmfrageForm */
.leftPadHeader {
    padding-left: 4px;
}

/* center align X button for column Action */
/*.centeredXButton {*/
/*    text-align: center;*/
/*}*/

/* small table styles for voting records */
.tableStyle {
    max-height: 720px;   /*~30 rows*/
    overflow-y: auto;

    font-size: 0.7rem;
}

.xButtonStyle {
    padding: 0 4px;
    line-height: 1;
    font-size: 0.7rem;
    min-width: 1.2rem;
}
